<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="bloodConnectionString" connectionString="Data Source=NARESH\SQLEXPRESS;Initial Catalog=blood;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <appSettings>

    <add key="a" value="Data Source=NARESH\SQLEXPRESS;Initial Catalog=blood;Integrated Security=True;Pooling=False"/>
  </appSettings>
</configuration>
